<p id="notice"><%= notice %></p>

<h1>Listing Employees for <%= @project.title %></h1>

<table>
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.vorname %></td>
        <td><%= employee.nachname %></td>
        <td><%= employee.username %></td>
        <td><%= link_to 'Show', project_employee_path(@project.id, employee.id) %></td>
        <td><%= link_to 'Edit', edit_project_employee_path(@project.id, employee.id) %></td>
        <td><%= link_to 'Destroy', project_employee_path(@project.id, employee.id), method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table

<br>

<%= link_to 'New Employee', new_project_employee_path %>
