<h1><%= @event.name %></h1>

<p><%= @event.description %></p>

<p><%= image_for(@event) %></p>
<p>
	<h3>Wann</h3>
	<%= @event.start_at %>

	<h3>Wo</h3>
	<%= @event.location %>

	<h3>Preis</h3>
	<%= @event.price %>

 <h3>Anzahl Plätze</h3>
 <%= pluralize(@event.spots_left, 'spot') %>
</p>

<h3>Likers</h3>
<ul id="add_liker">
	<% if @likers.any? %>

		<% @likers.each do |user| %>
			<li id="like_<%= user.likes.find_by(event_id: @event.id).id %>"> <%= link_to user.name, user %></li>
		<% end %>
		<% else %>
		<li id="no_liker"> Sei der 1. Liker, du Wurstfresse</li>
	<% end %>
</ul>
	
	<div id="unlike_button">
	<%= button_to("Unlike", event_like_path(@event, @current_like), class: "button", method: :delete, remote: true) if @current_like.present? %>
</div>
<div id="like_button">
	<%= button_to "Like", event_likes_path(@event), remote: true, class: "button" %>
</div>



<p>
	<div class="button-group">
	<%= link_to "Alle Events anzeigen", events_path, class:"button" %>
	<%= link_to "Back", request.referer, class:"button" %>
	<% if @event.spots_left > 0 %>
	<%= link_to "Registrieren!!!", new_event_registration_path(@event.id), class:"button" %>
	<% end %>
  </div>
</p>

<script>
	$(document).ready(function(){
		<% if @current_like.present? %>
			$("#like_button").hide();
		<% else %>
			$("#unlike_button").hide();
		<% end %>
	});
</script>