<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="width:400px; height: auto;">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field" style="width:400px; height: auto;">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field" style="width:400px; height: auto;">
    <%= f.label :total_gross %>
    <%= f.text_field :total_gross %>
  </div>

  <div class="field" style="width:400px; height: auto;">
    <%= f.label :descreption %>
    <%= f.text_area :descreption, :cols => "5", :rows => "1" %>
  </div>

  <div class="field" style="width:400px; height: auto;">
      <%= f.label :poster_image_file %>
      <%= f.text_field :poster_image_file, placeholder: "GIF, JPG, JPEG, PNG als Dateityp" %>
  </div>

  <div class="field" style="width:400px; height: auto;">
      <%= f.label :duration%>
      <%= f.number_field :duration%>
  </div>

  <div class="field" style="width:400px; height: auto;">
    <%= f.label :released_on %>
    <%= f.date_select :released_on, {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, {:class => 'date-select'} %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "button" %>
  </div>

<% end %>
