<h1>Listing <%= pluralize(@movies.size, 'Movie') %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Total gross</th>
      <th>Description</th>
      <th>Released on</th>
      <th>Anzeigen</th>
      <th>Editieren</th>
      <th>Löschen</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= format_total_gross(movie) %></td>
        <td><%= truncate(movie.description, length:40, seperator: ' ') %></td>
        <td><%= movie.released_on %></td>
        <td><%= link_to 'show', movie %></td>
        <td><%= link_to 'bearbeiten', edit_movie_path(movie.id) %></td>
        <td><%= link_to "Delete", movie_path(movie.id), method: :delete,  data: {confirm: "Wirklich löschen?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
